@media screen and (min-width:1337px) {
  body {
    width:auto;
    height:auto;
    margin:0px;
    font-family:"TTLakes",system-ui,sans-serif;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  .content {
    padding-left:320px;
  }
  .header {
    display:none;
    justify-content:space-between;
    align-items:center;
    width:769px;
    height:88px;
    background-color:#ffffff;
  }
  .header__block_left {
    margin-left:24px;
  }
  .header__block_right {
    margin-right:24px;
  }
  .header__block {
    display:flex;
    align-items:center;
    width:auto;
    height:88px;
    background-color:#ffffff;
    gap:17px;
  }
  main {
    width:auto;
    height:auto;
    background-color:#F8F8F8;
  }
  header {
    img {
      max-width:100%;
      max-height:100%;
      height:auto;
    }
  }
  .header__icon {
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background-color:#FF3E79;
    border-radius:20px;
    border:none;
    padding:0;
  }
  .header__icon_burger_menu {
    display:flex;
    background-color:#FF3E79;
  }
  .header__icon_remont {
    display:flex;
  }
  .header__icon_search {
    display:flex;
  }
  .header__icon_phone {
    display:flex;
  }
  .header__icon_messege {
    display:flex;
  }
  .header__icon_persone {
    display:flex;
  }
  .header__line_type_first {
    display:flex;
  }
  .header__line_type_second {
    display:flex;
  }
  .header__logo {
    width:96px;
    height:50px;
  }
  .title {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:42px;
  }
  .title__text {
    display:flex;
    align-items:center;
    gap:30px;
    p {
      font-family:"TTLakes",sans-serif;
      font-weight:Bold;
      font-size:28px;
      margin-block-end:0px;
      margin-block-start:0px;
    }
  }
  .title__icon {
    display:flex;
    font-size:16px;
    padding-right:32px;
  }
  .title__icon__remont {
    display:flex;
    align-items:center;
    gap:8px;
    padding-right:20px;
  }
  .title__icon__search {
    display:flex;
    align-items:center;
    gap:8px;
  }
  .scroll {
    display:flex;
    width:auto;
    height:auto;
    overflow-x:hidden;
    overflow-y:hidden;
    flex-wrap:wrap;
    scrollbar-width:none;
    padding-left:33px;
  }
  .scroll__button {
    width:auto;
    height:40px;
    font-family:"TTLakes",sans-serif;
    font-weight:500;
    font-size:16px;
    color:#7e7e82;
    overflow:hidden;
    padding-left:1.5%;
    padding-right:1.5%;
  }
  .scroll__button__active {
    border:2px solid #b8ffec;
    border-radius:6px;
  }
  .scroll__button__passive {
    border:0px;
    border-radius:6px;
    background-color:#F8F8F8;
  }
  .scroll__button__brend {
    display:block;
  }
  .scroll__button__active__device {
    display:none;
  }
  .scroll__button__passive__device {
    display:block;
  }
  .scroll__button__service {
    display:none;
  }
  .scroll__button__address {
    display:block;
  }
  .scroll__button__price {
  }
  .second_block {
    display:flex;
    justify-content:space-between;
    width:100%;
    height:auto;
    padding-top:7px;
    p {
      margin-block-end:0px;
      margin-block-start:0px;
    }
  }
  .text {
    display:flex;
    flex-direction:column;
    width:490px;
    height:208px;
    padding-left:32px;
    p {
      font-size:14px;
    }
  }
  .text__picture {
    display:flex;
    width:531px;
    height:307px;
    padding-right:30px;
    img {
      width:100%;
      height:100%;
      border-radius:6px;
    }
  }
  .text__read {
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    width:auto;
    height:24px;
    gap:8px;
    margin-block-end:0px;
    margin-block-start:0px;
    margin-top:10px;
    p {
      font-size:16px;
      font-family:"TTLakes",sans-serif;
      font-weight:Bold;
    }
    img {
      height:auto;
    }
  }
  .text__read_icon {
    display:flex;
    width:24px;
    height:24px;
    justify-content:center;
    align-items:center;
  }
  .price__block__tablet__name {
    display:grid;
    grid-template-columns:50% 20% 20% 10%;
    padding-left:40px;
    padding-right:40px;
  }
  .price__block__tablet__service {
    display:grid;
    grid-template-rows:1fr auto 1fr auto 1fr auto 1fr;
    height:720px;
    height:auto;
    border-radius:6px;
    background:#fff;
    margin-left:24px;
    margin-right:24px;
    border-radius:6px;
    padding-left:16px;
    padding-right:16px;
    border:1px solid #3d1d1d;
  }
  .price__block__tablet__service__one_card {
    display:grid;
    grid-template-columns:50% 20% 18% 12%;
    align-items:center;
    width:auto;
    margin-block-start:1em;
    margin-block-end:1em;
  }
  .price__block__tablet__service__one_card__palocka {
    padding-left:16px;
    padding-right:16px;
    margin:0px;
    width:auto;
    height:0.1px;
  }
  .mobile {
    display:none;
  }
}
