@media screen and (orientation:portrait) and (max-width:440px) {
  html, body {
    width:100%;
    height:100%;
    margin:0px;
    font-family:"TTLakes",system-ui,sans-serif;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  .content {
    padding-left:0px;
  }
  .header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:auto;
    height:88px;
    background-color:#ffffff;
  }
  .header__block {
    display:flex;
    align-items:center;
    width:auto;
    height:88px;
    background-color:#ffffff;
    gap:16px;
  }
  .header__block_left {
    margin-left:16px;
  }
  .header__block_right {
    margin-right:16px;
  }
  main {
    width:auto;
    height:509px;
    background-color:#F8F8F8;
  }
  header {
    img {
      max-width:100%;
      max-height:100%;
      height:auto;
    }
  }
  .header__icon {
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background-color:#FF3E79;
    border-radius:20px;
    border:none;
    padding:0;
  }
  .header__icon_burger_menu {
    display:flex;
  }
  .header__icon__close__button {
    display:flex;
  }
  .header__icon_remont {
    display:flex;
  }
  .header__icon_search {
    display:flex;
  }
  .header__icon_phone {
    display:none;
  }
  .header__icon_messege {
    display:none;
  }
  .header__icon_persone {
    display:none;
  }
  .header__line_type_first {
    display:none;
  }
  .header__line_type_second {
    display:flex;
  }
  .header__logo {
    width:96px;
    height:50px;
  }
  .title__text {
    display:flex;
    align-items:center;
    gap:12px;
    display:flex;
    align-items:center;
  }
  .title {
    p {
      font-family:"TTLakes",sans-serif;
      font-weight:Bold;
      font-size:28px;
    }
  }
  .title__icon {
    display:none;
  }
  .scroll {
    display:flex;
    width:auto;
    height:40px;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    scrollbar-width:none;
    padding-left:15px;
  }
  .scroll>* {
    flex-shrink:0;
  }
  .scroll__button {
    width:auto;
    min-width:100px;
    height:40px;
    font-family:"TTLakes",sans-serif;
    font-weight:500;
    font-size:16px;
    color:#7e7e82;
    overflow:hidden;
    padding-left:5%;
    padding-right:5%;
  }
  .scroll__button__active {
    border:2px solid #b8ffec;
    border-radius:6px;
  }
  .scroll__button__passive {
    border:0px;
    border-radius:6px;
    background-color:#F8F8F8;
  }
  .scroll__button__brend {
    display:none;
  }
  .scroll__button__active__device {
    display:block;
  }
  .scroll__button__passive__device {
    display:none;
  }
  .scroll__button__service {
    display:block;
  }
  .scroll__button__address {
    display:none;
  }
  .scroll__button__price {
    display:block;
  }
  .scroll__button__device {
    display:none;
  }
  .second_block {
    display:flex;
    flex-direction:column;
    width:auto;
    height:auto;
    padding-top:16px;
    p {
      font-size:14px;
      margin-block-end:0px;
      margin-block-start:0px;
    }
  }
  .text {
    display:flex;
    flex-direction:column;
    margin-left:16px;
    margin-right:16px;
    margin-bottom:16px;
  }
  .text__picture {
    display:flex;
    justify-content:center;
    width:auto;
    height:auto;
  }
  .text__dlc__m {
    display:none;
  }
  .text__dlc__l {
    display:none;
  }
  .text__br {
    display:none;
  }
  .text__read {
    display:flex;
    width:135px;
    height:24px;
    align-items:center;
    gap:8px;
    margin-top:16px;
    font-size:16px;
    font-family:"TTLakes",sans-serif;
    font-weight:Bold;
    img {
      max-width:100%;
      max-height:100%;
      height:auto;
    }
  }
  .text__read_icon {
    display:flex;
    width:24px;
    height:24px;
    justify-content:center;
    align-items:center;
  }
  .mobile {
  }
  .price__block__tablet {
    display:none;
  }
}
